In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df=pd.read_csv('lung_cancer_examples.csv')
df

           Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0

In [4]:
df.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [5]:
df.tail()

         Name   Surname  Age  Smokes  AreaQ  Alkhol  Result
54    Ernest   Borgnine   26      13      6       1       0
55      Alec   Guinness   77      20      5       4       1
56  Charlton     Heston   75      15      3       5       1
57   Gregory       Peck   43      30      3       8       1
58    Sidney    Poitier   51      25      9       0       0

In [8]:
df.size

413

In [9]:
df.shape

(59, 7)

In [10]:
df.dtypes

Name       object
Surname    object
Age         int64
Smokes      int64
AreaQ       int64
Alkhol      int64
Result      int64
dtype: object

In [11]:
df['Result'].value_counts()

Result
0    31
1    28
Name: count, dtype: int64

In [12]:
df.isna().sum()

Name       0
Surname    0
Age        0
Smokes     0
AreaQ      0
Alkhol     0
Result     0
dtype: int64

In [13]:
df.drop(['Name'],axis=1,inplace=True)
df.drop(['Surname'],axis=1,inplace=True)
df

    Age  Smokes  AreaQ  Alkhol  Result
0    35       3      5       4       1
1    27      20      2       5       1
2    30       0      5       2       0
3    28       0      8       1       0
4    68       4      5       6       1
5    34       0     10       0       0
6    58      15     10       0       0
7    22      12      5       2       0
8    45       2      6       0       0
9    52      18      4       5       1
10   33       4      8       0       0
11   18      10      6       3       0
12   25       2      5       1       0
13   28      20      2       8       1
14   34      25      4       8       1
15   39      18      8       1       0
16   42      22      3       5       1
17   19      12      8       0       0
18   62       5      4       3       1
19   73      10      7       6       1
20   55      15      1       3       1
21   33       8      8       1       0
22   22      20      6       2       0
23   44       5      8       1       0
24   77       3      2       6       1
25   21      20      5       3       0
26   37      15      6       2       0
27   34      12      8       0       0
28   55      20      1       4       1
29   40      20      2       7       1
30   36      13      5       2       0
31   56      20      3       3       1
32   47      15      1       8       1
33   62      25      3       4       1
34   26      10      7       2       0
35   25      20      8       2       0
36   59      20      3       4       1
37   62      15      5       5       1
38   33      25      8       2       0
39   37      10      5       3       0
40   50      20      2       4       1
41   47      12      8       0       0
42   69      20      5       4       1
43   63      20      4       5       1
44   39      15      7       2       0
45   21      20      8       3       0
46   31      20      9       4       0
47   28      10      4       1       0
48   53      20      6       3       1
49   62      20      5       6       1
50   42      12      6       2       0
51   44      30      1       6       1
52   26      34      1       8       1
53   35      20      5       1       0
54   26      13      6       1       0
55   77      20      5       4       1
56   75      15      3       5       1
57   43      30      3       8       1
58   51      25      9       0       0

In [14]:
#seperate input and output
x=df.iloc[:,:-1].values
print(x)
x.ndim

[[35  3  5  4]
 [27 20  2  5]
 [30  0  5  2]
 [28  0  8  1]
 [68  4  5  6]
 [34  0 10  0]
 [58 15 10  0]
 [22 12  5  2]
 [45  2  6  0]
 [52 18  4  5]
 [33  4  8  0]
 [18 10  6  3]
 [25  2  5  1]
 [28 20  2  8]
 [34 25  4  8]
 [39 18  8  1]
 [42 22  3  5]
 [19 12  8  0]
 [62  5  4  3]
 [73 10  7  6]
 [55 15  1  3]
 [33  8  8  1]
 [22 20  6  2]
 [44  5  8  1]
 [77  3  2  6]
 [21 20  5  3]
 [37 15  6  2]
 [34 12  8  0]
 [55 20  1  4]
 [40 20  2  7]
 [36 13  5  2]
 [56 20  3  3]
 [47 15  1  8]
 [62 25  3  4]
 [26 10  7  2]
 [25 20  8  2]
 [59 20  3  4]
 [62 15  5  5]
 [33 25  8  2]
 [37 10  5  3]
 [50 20  2  4]
 [47 12  8  0]
 [69 20  5  4]
 [63 20  4  5]
 [39 15  7  2]
 [21 20  8  3]
 [31 20  9  4]
 [28 10  4  1]
 [53 20  6  3]
 [62 20  5  6]
 [42 12  6  2]
 [44 30  1  6]
 [26 34  1  8]
 [35 20  5  1]
 [26 13  6  1]
 [77 20  5  4]
 [75 15  3  5]
 [43 30  3  8]
 [51 25  9  0]]

2

In [15]:
y=df.iloc[:,-1].values
print(y)
y.ndim

[1 1 0 0 1 0 0 0 0 1 0 0 0 1 1 0 1 0 1 1 1 0 0 0 1 0 0 0 1 1 0 1 1 1 0 0 1
 1 0 0 1 0 1 1 0 0 0 0 1 1 0 1 1 0 0 1 1 1 0]

1

In [16]:
#training and testing data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)
x_train.shape

(41, 4)

In [17]:
#Normalization
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [18]:
#model creation
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
#initiliazing the ANN
ann=Sequential()  
#adding the input layer 
ann.add(Dense(units=4,activation='relu'))
#adding the hidden layer    
ann.add(Dense(units=10,activation='relu'))
#adding 2nd hidden layer
ann.add(Dense(units=6,activation='relu'))
#adding the output layer
ann.add(Dense(units=1,activation='sigmoid'))

In [19]:
#compile the ANN
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [21]:
x_train.shape

(41, 4)

In [31]:
#fitting the ANN to the training set
ann.fit(x_train,y_train,epochs=100,batch_size=12)

Epoch 1/100
4/4  0s 3ms/step - accuracy: 1.0000 - loss: 1.3264e-04
Epoch 2/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.0471e-04
Epoch 3/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.4666e-04
Epoch 4/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.1075e-04
Epoch 5/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.3239e-04
Epoch 6/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.0832e-04
Epoch 7/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.1612e-04
Epoch 8/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.0545e-04
Epoch 9/100
4/4  0s 3ms/step - accuracy: 1.0000 - loss: 1.1201e-04
Epoch 10/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.0555e-04
Epoch 11/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.1794e-04
Epoch 12/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.3013e-04
Epoch 13/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.1063e-04
Epoch 14/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.7307e-05
Epoch 15/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.3267e-04
Epoch 16/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.2757e-04
Epoch 17/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.1215e-04
Epoch 18/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.3050e-04
Epoch 19/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.1722e-04
Epoch 20/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.2817e-04
Epoch 21/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 8.9545e-05
Epoch 22/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.2891e-04
Epoch 23/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.2041e-04
Epoch 24/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.0736e-04
Epoch 25/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 9.2861e-05
Epoch 26/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.0227e-04
Epoch 27/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 9.4397e-05
Epoch 28/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.1741e-04
Epoch 29/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.0655e-04
Epoch 30/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.1864e-04
Epoch 31/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.4542e-04
Epoch 32/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.8948e-05
Epoch 33/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 9.3312e-05
Epoch 34/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.1026e-04
Epoch 35/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.2852e-05
Epoch 36/100
4/4  0s 3ms/step - accuracy: 1.0000 - loss: 8.5273e-05
Epoch 37/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.2549e-04
Epoch 38/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 8.9029e-05
Epoch 39/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.8695e-05
Epoch 40/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.1329e-04
Epoch 41/100
4/4  0s 3ms/step - accuracy: 1.0000 - loss: 9.4747e-05
Epoch 42/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.3427e-04
Epoch 43/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.0733e-04
Epoch 44/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.2236e-04
Epoch 45/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.2671e-05
Epoch 46/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.2520e-04
Epoch 47/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.0152e-04
Epoch 48/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.0462e-04
Epoch 49/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 9.9880e-05
Epoch 50/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.0670e-05
Epoch 51/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.2302e-04
Epoch 52/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.9834e-05
Epoch 53/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.0880e-04
Epoch 54/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.0546e-05
Epoch 55/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.2947e-04
Epoch 56/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 7.3076e-05
Epoch 57/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 8.8645e-05
Epoch 58/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 7.6576e-05
Epoch 59/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.0381e-04
Epoch 60/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 8.0903e-05
Epoch 61/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 9.4438e-05
Epoch 62/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.0855e-04
Epoch 63/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.8971e-05
Epoch 64/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 7.5352e-05
Epoch 65/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 8.6601e-05
Epoch 66/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 8.1877e-05
Epoch 67/100
4/4  0s 3ms/step - accuracy: 1.0000 - loss: 8.2957e-05
Epoch 68/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 1.0055e-04
Epoch 69/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 8.6992e-05
Epoch 70/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.1717e-05
Epoch 71/100
4/4  0s 3ms/step - accuracy: 1.0000 - loss: 7.5289e-05
Epoch 72/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.1932e-04
Epoch 73/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.0630e-05
Epoch 74/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.1104e-04
Epoch 75/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 8.1925e-05
Epoch 76/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 6.5930e-05
Epoch 77/100
4/4  0s 3ms/step - accuracy: 1.0000 - loss: 8.6642e-05
Epoch 78/100
4/4  0s 4ms/step - accuracy: 1.0000 - loss: 1.1954e-04
Epoch 79/100
4/4  0s 3ms/step - accuracy: 1.0000 - loss: 9.0194e-05
Epoch 80/100
4/4  0s 4ms/step - accuracy: 1.0000 - loss: 8.5623e-05
Epoch 81/100
4/4  0s 3ms/step - accuracy: 1.0000 - loss: 7.6598e-05
Epoch 82/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 7.9700e-05
Epoch 83/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 7.1968e-05
Epoch 84/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 7.9934e-05
Epoch 85/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.0932e-05
Epoch 86/100
4/4  0s 3ms/step - accuracy: 1.0000 - loss: 8.5126e-05
Epoch 87/100
4/4  0s 3ms/step - accuracy: 1.0000 - loss: 8.8616e-05
Epoch 88/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.0312e-04
Epoch 89/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 1.0116e-04
Epoch 90/100
4/4  0s 3ms/step - accuracy: 1.0000 - loss: 1.0038e-04
Epoch 91/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.0719e-05
Epoch 92/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 6.3174e-05
Epoch 93/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 7.8831e-05
Epoch 94/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 7.4878e-05
Epoch 95/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 8.4562e-05
Epoch 96/100
4/4  0s 1ms/step - accuracy: 1.0000 - loss: 9.9874e-05
Epoch 97/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 8.7813e-05
Epoch 98/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.3918e-05
Epoch 99/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 8.5120e-05
Epoch 100/100
4/4  0s 2ms/step - accuracy: 1.0000 - loss: 9.5052e-05

In [32]:
#evaluating the model
ann.evaluate(x_test,y_test)

1/1  0s 120ms/step - accuracy: 1.0000 - loss: 0.0220

[0.0220267865806818, 1.0]

In [33]:
y_pred=ann.predict(x_test)

1/1  0s 42ms/step

In [34]:
ann.summary()

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 4)                          20

 dense_1 (Dense)                  (None, 10)                         50

 dense_2 (Dense)                  (None, 6)                          66

 dense_3 (Dense)                  (None, 1)                           7

 Total params: 431 (1.69 KB)

 Trainable params: 143 (572.00 B)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 288 (1.13 KB)

In [38]:
y_pred=ann.predict(scaler.transform([[35,3,5,4]]))
y_pred
if y_pred>0.5:
    print("The person has lung cancer")
else:   
    print("The person does not have lung cancer")

1/1  0s 17ms/step
The person has lung cancer